# Python virtual environments & bytecode
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Power BI temp files
*.tmp
~$*.xlsx
